{% extends "base.html" %}

{% block body %}
<div class="ui icon {{type}} message">
	<i class="ui {{icon}} icon"></i>
	<div class="content">
	<p>Vous avez proposer <b>{{reponse}}</b></p>
	<p>{{message}}
	</div>
</div>
{% endblock %}

{% block footer%}
    
    {% if not win %}
    	{{ parent() }}
    	<a class="ui teal button" href="RandomNumberGame/propose">
    		Faire une autre proposition
    	</a>
    {% else %}
    	<a href="RandomNumberGame/index" class="ui inverted teal button">
        <i class="ui plus icon"></i>
        	Nouvelle partie
    	</a>
    {% endif %}
{% endblock %}
