<!--View associated to afficher action of Test controller -->
<ul>
<li><a href="Test/afficher/message/positive/shower">Exemple de message (douche)</a></li>
<li><a href="Test/afficher/message/positive/user">Exemple de message (user)</a></li>
<li><a href="Test/afficher/message/positive/transgender%20alternate%20loading">Exemple de message (loading)</a></li>
</ul>
<h1>Vue de l'action Afficher</h1>
<div class="ui icon {{type}} message">
	<i class="ui {{icon}} icon"></i>
	<div class="content">{{msg}}</div>
</div>